<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.xm.db.dao.BusAccountMapper" >
  <resultMap id="BaseResultMap" type="com.hwj.xm.po.BusAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="usable" property="usable" jdbcType="DECIMAL" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="frozen" property="frozen" jdbcType="DECIMAL" />
    <result column="wait" property="wait" jdbcType="DECIMAL" />
    <result column="repay" property="repay" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, total, usable, cash, frozen, wait, repay
  </sql>
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.hwj.xm.po.BusAccount" >
    insert into bus_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="frozen != null" >
        frozen,
      </if>
      <if test="wait != null" >
        wait,
      </if>
      <if test="repay != null" >
        repay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=DECIMAL},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="frozen != null" >
        #{frozen,jdbcType=DECIMAL},
      </if>
      <if test="wait != null" >
        #{wait,jdbcType=DECIMAL},
      </if>
      <if test="repay != null" >
        #{repay,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.hwj.xm.po.BusAccount" >
    update bus_account
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=DECIMAL},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="frozen != null" >
        frozen = #{frozen,jdbcType=DECIMAL},
      </if>
      <if test="wait != null" >
        wait = #{wait,jdbcType=DECIMAL},
      </if>
      <if test="repay != null" >
        repay = #{repay,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>