
.invest_container{
    width:1200px;
    margin:18px auto 0;
}
.invest_item{
    width:100%;
    padding:32px 22px 32px 0;
    background: #fff;
    position: relative;
    margin:28px 0 36px 0;
}
.invest_item .item_name{
    font-size: 18px;
    color:#5e5e5e;
    line-height: 30px;
    padding-left: 44px;
}
.invest_item .hot{
    display: inline-block;
    height:27px;
    font-size: 17px;
    line-height: 27px;
    color:#fff;
    border-radius: 4px;
    margin-left:10px ;
    padding:0 10px;
}
.invest_item .hot[hot]{
    background: #ff4545;
}
.invest_item .hot[new]{
    background: #4393ed;
}
.invest_item .hot[app]{
    background: #5ad86f;
}
.invest_item .hot[psw]{
    background: #585559;
}
.invest_item .invest_detail{
    width:690px;
    height:144px;
    border-bottom: 1px dashed #dedede;
    margin:56px 0 32px 24px;

}
.invest_item .invest_detail div{
    padding-bottom: 34px;
    text-align: center;
    float: left;
}
.invest_item .details_text{
    line-height: 48px;
    color:#a3a3a3;
    font-size:16px;

}
.invest_item .cash_num{
    font-size: 20px;
    line-height: 44px;
    color:#6b6b6b;
    padding-top: 17px;
}
.invest_item .circle{
    width:152px;
}
.invest_item .radialIndicator{
    width:214px;
}
.invest_item .total_money{
    width:146px;
}
.invest_item .rate{
    height:60px;
    color:#ff5555;
    width:152px;
    letter-spacing: -2px;
}
.invest_item .rate_int{
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
}
.invest_item .percent{
    font-size: 20px;
    line-height: 43px;
    display: inline-block;
    padding-top: 17px;
}
.invest_item .invest_table{
    height:70px;
    padding-left: 52px;
    margin-bottom: 26px;
}

.invest_item td{
    font-size: 14px;
    color:#878787;
    height:34px;
    line-height: 34px;
    text-align: left;
}

.invest_item .invest_panel{
    height:358px;
    width:432px;
    position: absolute;
    right:22px;
    top:32px;
    background: #f6f6f6;
    padding: 12px 0 0 26px;
    color:#646464;

}
.invest_item .text{
    color:#646464;
    line-height: 52px;
    font-size: 18px;
}
.invest_item .invest_panel input{
    height:52px;
    width:390px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    line-height: 52px;
    padding-left: 16px;
    font-size: 18px;
    color:#646464;
    background: transparent;
}
.invest_item .invest_panel::-webkit-input-placeholder {  color:#b9b9b9;   }

.invest_item .input_wrap{
    padding:26px 0;
}
.invest_item .invest_panel .invest_button{
    color:#fff;
    text-align: center;
    border: 0;
    background: #fcb22f;
    width:332px;
    margin-right: 7px;
    cursor: pointer;
}
.no_account{
     color:#646464;
     font-size: 16px;
    margin-top: -10px;
 }
.no_account a{
    color:#ff4545;
}
.caculator{
    display: inline-block;
    width:50px;
    height:52px;
    background: url(/img/caculator.png) no-repeat center;
    cursor: pointer;
}
.invest_item .left_account{
    position: relative;
}
.invest_item .charge{
    position: absolute;
    color:#ff4545;
    font-size: 18px;
    right:20px;
    top:0;
}
.invest_item .auto{
    top:26px;
    line-height:52px;
    cursor: pointer;
}
.item_introduce{
    background: #fff;
    padding-bottom: 36px;
}
.item_introduce .tab{
    background: #f4f4f4;
    height:84px;
}
.item_introduce .tab div{
    height:84px;
    width:242px;
    line-height: 84px;
    font-size: 24px;
    color:#969696;
    text-align: center;
    position: relative;
    float: left;
    cursor: pointer;
}
.item_introduce div.tab_active{
    background: #fff;
    color:#787878;
}
.item_introduce .tab_active:before{
    content:'';
    width:242px;
    height:4px;
    position: absolute;
    display: inline-block;
    background: #fcb22f;
    top:0;
    left:0;

}
.item_introduce .title{
    font-size: 20px;
    color:#3a3a3a;
    line-height: 80px;
    height:80px;
    position: relative;
    text-indent: 29px;
    font-weight: normal;
}
.item_introduce .tab_content{
    padding:22px 90px 0 90px;
}
.item_introduce .title:before{
    content:'';
    width:11px;
    height:11px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    background: #fcb22f;
    top:35px;
    left:0;
}
.item_introduce .type_box{
    padding:14px 0 30px 0;
}
.item_introduce .table_box{
    padding-bottom: 12px;
}

.item_introduce .table_base thead tr{
    height:68px;
    background: #ffcf79;
    font-size: 20px;
    color:#a46f11;

}
.item_introduce .table_base tbody td{
    color:#947937;
    height:62px;
    font-size: 18px;
}

.item_introduce .table_base thead tr th:nth-of-type(1){
    border-right:1px solid #fff;

}
.item_introduce .table_base {
    width: 1020px;
    border-collapse: collapse;
    border:1px solid #eaeaea;

}
.item_introduce .table_base tbody tr td:nth-of-type(odd){
    border-top:1px solid #fff;
    width:132px;
    text-align: center;
}
.item_introduce .table_base tbody tr td:nth-of-type(even){
    border-bottom:1px solid #eaeaea;
    padding-left: 38px;
}
.item_introduce .table_base tbody tr:nth-of-type(even) td:nth-of-type(odd){
    background: #fff6e6;
}
.item_introduce .table_base tbody tr:nth-of-type(odd) td:nth-of-type(odd){
    background: #ffe5b7;
}


.item_introduce .table_base .table_title {
    background: #ffe4b4;
    color: #a46f11;
    font-size: 20px;
    text-align: center;
    width: 208px;
    border-bottom: 1px solid #fff;
}

.item_introduce .table_base .table_justify {
    width: 106px;
}

/*.item_introduce .table_base tr{*/
    /*color:#4f4f4f;*/
    /*font-size: 18px;*/
    /*height:74px;*/
/*}*/
/*.item_introduce .table_base{*/
    /*width:1020px;*/
    /*border-collapse: collapse;*/
/*}*/
/*.item_introduce .table_base tr:nth-of-type(2n){*/
    /*background: #fbfbfb;*/
/*}*/
/*.item_introduce .table_base .height100{*/
    /*height:100px;*/
/*}*/
/*.item_introduce .table_base .table_title{*/
    /*background: #ffe4b4;*/
    /*color:#a46f11;*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*width:208px;*/
    /*border-bottom: 1px solid #fff;*/
/*}*/
/*.item_introduce .table_base .table_justify{*/
    /*width:106px;*/
/*}*/
/*.item_introduce .table_base td{*/
    /*padding-left:18px;*/
    /*border: 1px solid #ececec;*/
/*}*/
.item_introduce .lunbo_wrap{
    padding:26px 56px;
    width:1020px;
    position: relative;
    height:244px;
}
.item_introduce .click_button{
    position: absolute;
    width:44px;
    height:44px;
    border-radius: 50%;
    background:#e3e3e3;
    color:#fff;
    line-height: 44px;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    top:100px;
    cursor: pointer;
}
.item_introduce .pre{
    left:4px;
}
.item_introduce .next{
    right:4px;
}
.item_introduce .over_hidden{
    overflow: hidden;
    width:100%;
    height:100%;
    position: relative;
}
.item_introduce .lunbo{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    transition: 0.3s ease-in;
}
.item_introduce .lunbo li{
    float: left;
    margin:0 6px;
    width:215px;
    height:inherit;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
.security_check{
    width:100%;
}
.security_check li{
    float: left;
    width:80px;
    height:114px;
    margin-right: 76px;
    margin-bottom: 25px;
    line-height: 44px;
    color:#4f4f4f;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 70px;
    padding-top: 70px;
    font-size: 14px;
}
.security_check li:nth-of-type(7n){
    margin-right: 0;
}
.image_large{
    width:900px;
    height: 900px;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -450px;
    margin-top: -450px;
    background-color: gray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.image_large .close {
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 34px;
    background: url(/img/close.png);
    cursor: pointer;
}
.image_large .right {
    position: absolute;
    right: 12px;
    top: 450px;
    width: 16px;
    height: 24px;
    background: url(/img/arrow-right.png);
    cursor: pointer;
}
.image_large .left {
    position: absolute;
    left: 12px;
    top: 450px;
    width: 16px;
    height: 24px;
    background: url(/img/arrow-left.png);
    cursor: pointer;
}
.bg_panel{
    background: rgba(0,0,0,0.2);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
}
.bg_panel .panel{
    width:460px;
    border-radius: 8px;
    background: #fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -167px;
    margin-left: -230px;
    padding-bottom: 16px;
}
.bg_panel .panel-max{
    width:580px;
    margin-left: -275px;
}
.bg_panel .total{
    background: #fff8ed;
    font-size: 16px;
    color:#5f5f5f;
    height:65px;
    line-height: 65px;
    padding:0 14px 0 14px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.bg_panel .coupon{
    height:58px;
    line-height: 58px;
    padding-left:36px;
}
.bg_panel .coupon label{
    font-size: 16px;
    color:#5f5f5f;
    margin-right: 26px;
}
.bg_panel .coupon span{
    font-size: 13px;
    color:#8f8f8f;
}
.bg_panel .coupon a{
    font-size: 13px;
    color:#ff5757;
}
.bg_panel .invest{
    padding-left:36px;
    padding-top: 12px;
}
.bg_panel .invest input{
    color:#fff;
    text-align: center;
    border: 0;
    background: #fcb22f;
    width:386px;
    height:40px;
    line-height: 40px;
    border-radius: 4px;
}
.bg_panel .agreement{
    font-size:14px;
    color:#5f5f5f;
    line-height: 40px;
    padding-left:36px;
}
.bg_panel .close{
    width:35px;
    height:35px;
    position: absolute;
    right:0;
    top:-50px;
    background: url(/img/delete.png) no-repeat center;
}
.bg_panel select{
    font-size: 14px;
    color:#8f8f8f;
    width:270px;
    height:34px;
    line-height: 34px;
    border-radius: 4px;
    border:1px solid #e2e2e2;
}

input[type='checkbox']{
    width:15px;
    height:15px;
}
input[type='checkbox']:checked{
    background: url(/img/select.png) no-repeat center !important;
}
.bg_panel .tips{
    height:142px;
    line-height: 142px;
    color:#6a6969;
    font-size: 18px;
    padding-left: 78px;
    background: url(/img/set_tip.png) no-repeat top 50% left 40px;
}
.bg_panel .tips strong{
    color:#ff5757;
}
.bg_panel table  strong{
    color:#ff5757;
}
.bg_panel .confirm{
    height:50px;
    margin-bottom: -16px;
}
.bg_panel .confirm input{
    width:50%;
    height:50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.bg_panel .confirm .yes{
    color:#fff;
    background:#fcb22f;
    border-bottom-right-radius: 8px;

}
.bg_panel .confirm .no{
    background:#e7e7e7;
    color:#6a6969;
    border-bottom-left-radius: 8px;
}
.bg_panel .title{
  font-size: 20px;
    line-height: 24px;
    color:#676767;
    padding-bottom: 20px;

}
.bg_panel table{
    color:#676767;
    font-size: 18px;
    width:100%;
}
.bg_panel table tr{
    height:48px;
}
.bg_panel table tr td:first-child{
    text-align: left;
}
.bg_panel table tr td:last-child{
    text-align: right;
}
.bg_panel table .input_text{
    position: relative;
}
.bg_panel table .input_text:after{
    position: absolute;
    display: inline-block;
    content:'å…ƒ';
    right:8px;

}
.bg_panel table .input_text input{
    width:154px;
    height:30px;
    border-radius: 4px;
    border:1px solid #cecece;
    text-indent: 12px;
}
.bg_panel .cacu_button{
    text-align: right;
    padding: 8px 0 0 0;
}
.bg_panel .cacu_button input{
    width:74px;
    height:36px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
}
.bg_panel .cacu_button .cacu{
    color:#fff;
    background: #fcb22f;
}
.bg_panel .cacu_button .reset{
    color:#797979;
    background: #dcdcdc;
}
.bg_panel .padding-box{
    padding:24px;
}
.bg_panel .padding-box .data{
    border-right:1px solid #eeeeee;
    width:50%;
    padding-right: 20px;
}
.bg_panel .padding-box .result{
    width:50%;
    padding-left:24px;
}
.bg_panel .padding-box .text{
    height:74px;
    padding:18px 0;
    font-size:17px;
    color:#777777;
}
.all_security_img{
    height:542px;
    background: #fff;
}
.security_bottom li{
    float: left;
    width:122px;
    height:200px;
    margin-right: 156px;
    line-height: 30px;
    color:#686767;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 124px;
    font-size: 25px;
}
.security_bottom li:nth-of-type(4){
    margin-right: 0;
}
.special{
    margin:38px 0 44px 0;
}
.special .shenming{
   font-size: 25px;
    color:#656464;
    line-height:72px;
}
.special .text{
    line-height: 45px;
    color:#616060;
    font-size: 18px;
}
.tab_content .record{
    margin-top: 45px;
    width:100%;
}
.tab_content .record thead tr{
    height:55px;
    font-size:20px;
    color:#737373;
}
.tab_content .record thead tr th:nth-of-type(1){
    text-align: left;
    padding-left:18px;
}
.tab_content .record thead tr th:nth-of-type(3){
    text-align: right;
    padding-right:60px;
}
.tab_content .record tbody tr td:nth-of-type(3){
    text-align: right;
}
.tab_content .record tbody tr td:nth-of-type(2){
    text-align: center;
}
.tab_content .record tbody tr{
    height:65px;
    color:#7e7e7e;
    font-size: 18px;
}
.tab_content .record tbody tr td:nth-of-type(2){
    color:#ff5d5d;
}
.pagination>li>a, .contract .pagination>li>span {
    position: relative;
    float: left;
    padding: 12px 17px;
    margin-left: -1px;
    color: #fff!important;
    text-decoration: none;
    background-color: #d6d6d6!important;
    font-size: 15px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fefefe!important;
    cursor: default;
    background-color: #ff5555!important;
}