.content {
    background: #ffffff;
    width: 960px;
    height: 1440px;
}
.content-top{
    width: 100%;
    height: 86px;
}
.content-top-text{
    padding-left: 56px;
    line-height: 86px;
    font-size: 22px;
    color: #767676;
}
.screening{
    width: 100%;
    height: 74px;
}
.screening-day-text{
    width: 88px;
    height: 74px;
    font-size: 16px;
    color: #767676;
    line-height: 74px;
    margin-left: 56px;
    float: left;
}
.screening-day-inputs{
    width: 378px;
    height: 74px;
    float: left;
}
.screening-day-buts{
    width: 438px;
    height: 42px;
    float: right;
    margin-top: 18px;
}
.day-buts-first{
    width: 92px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #767676;
    cursor: pointer;
    border-radius: 50px;
}
.day-buts-second{
    width: 92px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #767676;
    margin-left: 14px;
    cursor: pointer;
    border-radius: 50px;
}
.active{
    background:#fcb22f;
    color: #ffffff;
}
.table{
    width: 100%;
}
.table-whole{
    width: 898px;
    margin: 30px auto;
}