.login-content {
    background: #efefef;
    width: 100%;
    height: 615px;
    min-width: 1240px;
    padding: 1px;
}
.login-content-center{
    background:#fff;
    width: 1200px;
    height: 555px;
    margin: 20px auto;
}
.login-box{
    width: 477px;
    height: 555px;
    float: right;
    border-left: solid 1px #e3e3e3;
}
.box-title{
    width: 477px;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
    color: #606060;
}
.box-input{
    width: 477px;
    height: 250px;
}
.box-input-center{
    width: 340px;
    margin: 0 auto;
}
.login-input1{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 48px;
    color: #606060;
    border:solid #e7e6e6 1px;
    border-radius: 3px;
    padding-left: 120px;
    padding-right: 10px;
}
.login-input{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 48px;
    color: #606060;
    border:solid #e7e6e6 1px;
    border-radius: 3px;
    padding-left: 120px;
    padding-right: 10px;
}
/*.login-input{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*font-size: 18px;*/
    /*line-height: 48px;*/
    /*color: #606060;*/
    /*border:solid #e7e6e6 1px;*/
    /*border-radius: 4px;*/
    /*padding-left: 94px;*/
/*}*/
.login-input-verification{
    width: 240px;
    height: 100%;
    font-size: 18px;
    line-height: 48px;
    color: #606060;
    border:solid #e7e6e6 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 120px;
    float: left;

}

.login_input_wrap{
    width: 340px;
    height: 48px;
    position: relative;
    margin-top: 10px;
}
.login_input_wrap:before{
    content: '手 机 号';
    letter-spacing: 6px;
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 48px;
    width: 95px;
    text-align: right;
    font-size: 18px;
    color: #606060;
    left: 15px;
    top: 0;
}
.login_input_password{
    width: 340px;
    height: 48px;
    position: relative;
    margin-top: 10px;
}
.login_input_password:before{
    content: '验 证 码';
    letter-spacing: 6px;
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 48px;
    width: 96px;
    text-align: right;
    font-size: 18px;
    color: #606060;
    left: 15px;
    top: 0;
}

.login_setting_password{
    width: 340px;
    height: 48px;
    position: relative;
    margin-top: 10px;
}
.login_setting_password:before{
    content: '设置密码';
    letter-spacing: 6px;
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 48px;
    width: 96px;
    text-align: right;
    font-size: 18px;
    color: #606060;
    left: 15px;
    top: 0;
}
.keep-password{
    width: 100%;
    height: 60px;
}
.keep-password-center{
    width: 340px;
    height: 60px;
    margin: 0 auto;
}
.checkbox{
    width: 20px;
    height: 20px;
    border: solid 1px #e7e6e6;
    float: left;
    margin-top: 20px;

}
.keep-text{
    width: 300px;
    height: 60px;
    float: left;
    line-height: 60px;
    color: #606060;
    padding-left: 4px;
}
.sliding{
    width: 100%;
    height: 48px;
    border: solid 1px #e7e6e6;
    border-radius:3px ;
    margin-top: 10px;
}
.sliding-button{
    background: #ebebeb;
    width: 48px;
    height: 47px;
    border-right: solid 1px #e7e6e6;
    line-height: 47px;
    color: #c3c3c3;
    text-align: center;
    font-weight: bold;

}
.forget-passwrod-center{
    width: 340px;
    height: 34px;
    margin: 0 auto;
}
.forget-passwrod{
    width: 100%;
    height: 34px;
    color: #ff5e5e;
    text-align: right;
    cursor: pointer;
}
.login-but{
    width: 100%;
    height: 46px;
}
.login-but-center{
    width: 340px;
    height: 46px;
    margin: 0 auto;
}
.but{
    width: 100%;
    height: 100%;
    background: #fcb22f;
    border: none;
    border-radius: 3px;
    text-align: center;
    line-height: 46px;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    margin-top: -5px;
}
.function{
    width: 100%;
    height: 54px;
}
.function-center{
    width: 340px;
    height: 55px;
    margin: 0 auto  ;
}
.function-register{
    width: 146px;
    height: 55px;
    color: #606060;
    float: left;
    line-height: 55px;
}
.quick{
    width: 112px;
    height: 55px;
    float: right;
    font-size: 16px;
    line-height: 55px;
    text-align: right;
    color: #606060;
    cursor: pointer;
}
.third-login{
    width: 100%;
    height: 92px;
}
.third-login-center{
    width: 340px;
    height: 92px;
    margin: 0 auto;
}
.third-login-buts{
    width: 100%;
    height: 74px;
}
.buts-weibo{
    width: 33.33%;
    height: 74px;
    float: left;
}
.login-text{
    width: 100%;
    height: 108px;
}
.login-text-center{
    width: 340px;
    height: 108px;
    margin: -10px auto 0;
    line-height: 50px;


}
.obtain{
    background: #fcb22f;
    width: 100px;
    height: 48px;
    float: right;
    color: #ffffff;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius:4px;
    border:none;
}
.code{
    width: 100%;
    height: 48px;
}
.display{
    display: none;
}
.whole-img{
    width: 720px;
    float: left;
    text-align: center;
}
.login_input_code {
    width: 340px;
    height: 48px;
    position: relative;
    margin-top: 10px;
}
.login_input_code:before{
    content:'图形验证码';
    display: inline-block;
    position: absolute;
    height:100%;
    line-height: 48px;
    text-align: right;
    font-size: 18px;
    color:#606060;
    left: 15px;
    top:0;
}
.login-check-code {
    width: 70%;
    text-align: left;
}
.validImg {
    width: 29%;
    height: 48px;
    float: right;
    line-height: 48px;
    text-align: center;
}